
body {
	background: white;
}


p {
	font-family: 'Be Vietnam Pro', sans-serif;
}

h5 {
	font-family: 'Be Vietnam Pro', sans-serif;
}

h6 {
	font-family: 'Be Vietnam Pro', sans-serif;
}

.my_navbar{
	display:flex;
	justify-content: space-between;
	object-fit: cover;
	width: 100%; background: #F5EFE7;
	height: 55px;

}

.logo {
	object-fit: cover;
}

.links{
	width: 280px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 80px;
}

a{
	text-decoration: none;
	display:inline-block;
	color: black;
	font-family: 'Be Vietnam Pro', sans-serif;
}

.rs {
	display: flex;
	width: 10%;
	justify-content: space-between;
	align-items: center;
	margin-right: 20px;
}

.une {
	margin-top: 40px;
	margin-bottom: 40px;
}

h1 {
	text-align: center;
	font-family: 'Cardo', serif;;
}



.intro {
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 40px;
	text-align: center;
}


.maxim {
	margin-right: 60px;
	margin-top: 60px;
	margin-left: 26%;
	text-align: justify;
}

.solene {
	margin-right: 60px;
	margin-top: 60px;
	margin-left: 26%;
	text-align: justify;
}

.louis {
	margin-right: 60px;
	margin-top: 60px;
	margin-left: 26%;
	text-align: justify;
}


.margot {
	margin-right: 60px;
	margin-top: 60px;
	margin-left: 26%;
	text-align: justify;

}

.conclusion {
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 40px;
	margin-top: 60px;
	text-align: center;
}


.box-white {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 60px;
}


.imgmargot {

	margin-left: 50%;
	align-items: center;
	border: solid 20px #F5EFE7;
}

.imgsolene {
	margin-left: 50%;
	align-items: center;
	border: solid 20px #F5EFE7;
}

.imglouis {
	margin-left: 50%;
	align-items: center;
	border: solid 20px #F5EFE7;
}

.imgmaxim {
	margin-left: 50%;
	align-items: center;
	border: solid 20px #F5EFE7;
}

