.my_navbar{
	display:flex;
	justify-content: space-between;
	object-fit: cover;
	width: 100%; background: #F5EFE7;
	height: 55px;
}


.logo {
	object-fit: cover;
}

.links{
	width: 280px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 80px;
}

a{
	text-decoration: none;
	display:inline-block;
	color: black;
	font-family: 'Be Vietnam Pro', sans-serif;
}

.rs {
	display: flex;
	width: 10%;
	justify-content: space-between;
	align-items: center;
	margin-right: 20px;
}

h1 { 
	text-align:center;
	font-family: 'Cardo', serif;
}

h4 {
	font-family: 'Cardo', serif;
}


h5 { 
	text-align:center;
	font-family: 'Be Vietnam Pro', sans-serif;
}

h6 {
	font-family: 'Be Vietnam Pro', sans-serif;
}

p {
	font-family: 'Be Vietnam Pro', sans-serif;
}

.width-small {
	display: flex;
	text-align: center;
	margin: auto;
	margin-bottom: 40px;
	width: 600px;

}


/* STYLE IMAGES*/


.perissa {
	display: flex;
	text-align: center;
	margin: auto;
}

.medina {
	display: flex;
	text-align: center;
	margin: auto;
}






/* STYLE TEXTE */


.titre {
	margin-top: 40px;
	margin-bottom: 40px;

}

.intro {
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 40px;
}

.dodo {
	margin-left: 60px;
	margin-right: 60px;
}

.villages {
	margin-left: 60px;
	margin-right: 60px;
}

.ruines {
	margin-left: 60px;
	margin-right: 60px;
}

.plage {
	margin-left: 60px;
	margin-right: 60px;
}


.musée {
	margin-left: 60px;
	margin-right: 60px;
}


.ville {
	margin-left: 60px;
	margin-right: 60px;
}

.resto {
	margin-left: 60px;
	margin-right: 60px;
}

.resto2 {
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 20px;

}

.mot {
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 60px;
	margin-right: 60px;

}

.fin {
	margin-left: 60px;
	margin-right: 60px;
}

.bouton {
	margin-top: 40px;
	margin-bottom: 40px;
	font-family: 'Be Vietnam Pro', sans-serif;
}


.accordion-header {
	font-family: 'Be Vietnam Pro', sans-serif;
}

.accordion-body {
	font-family: 'Be Vietnam Pro', sans-serif;
}
