
.my_navbar{
	display:flex;
	justify-content: space-between;
	object-fit: cover;
	width: 100%; background: #F5EFE7;
	height: 55px;
}

.logo {
	object-fit: cover;
}

.links{
	width: 280px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 80px;
}

a{
	text-decoration: none;
	display:inline-block;
	color: black;
	font-family: 'Be Vietnam Pro', sans-serif;
}

.rs {
	display: flex;
	width: 10%;
	justify-content: space-between;
	align-items: center;
	margin-right: 40px;
}

.titre1 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.bouton {
	font-family: 'Be Vietnam Pro', sans-serif;
}

h1 {
	text-align: center;
	font-family: 'Cardo', serif;
}

p {
	font-family: 'Be Vietnam Pro', sans-serif;
}


h2 {
	text-align: center;
	font-family: 'Cardo', serif;
}

.intro {
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: center;
}

.frame {

	width: auto;
	height: 30px;
	background-color: #F5EFE7;
}

.dest {
	margin-left: 60px;
	margin-top: 60px;
}

.dest1 {
	flex-direction: column;
	margin-left: 60px;
	margin-top: 60px;
	margin-right: 40px;
}

.DESTI {
	text-align: center;
	margin-top: 30px;
}

.destinations {
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 40px;
	margin-bottom: 40px;
}

img {
	margin-right: 60px;
}

iframe {
	margin-left: 90px;
	margin-right: 20%;
}

.box-white {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 60px;
}

.dest2 {
	flex-direction: column;
	margin-right: 60px;
	margin-top: 60px;
	text-align: justify;
}



.cadre {
	text-align: center;
	font-size: 10px;
	width: auto;
	height: 20px;
	background-color: white;
	border: solid 3px #F5EFE7;
	border-radius: 10px;
	box-shadow: 10px 10px 10px 10px #F5EFE7;
}

.logo2 {
	text-align: center;
	margin-bottom: 20px;
}